.zcompdump
dotfiles/.config/nvim/spell/
dotfiles/.config/autorandr
dotfiles/.config/hypr/monitors.conf
dotfiles/.config/hypr/workspaces.conf
.zhistory
.zsh_plugins
.zcompdump*
secret_git_config.lua
secret/
dotfiles/.config/zsh/jobbaliases
dotfiles/.config/github-copilot/
dotfiles/.config/hypr/hypr_local.lua
__pycache__/
*.pyc
.github/hooks/workmux-status/hooks.json
