" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


set scrolloff=8

set nu
set relativenumber

set autoindent
set smartindent
set tabstop=4
set softtabstop=4
set shiftwidth=4
" Do incremental searching.
set incsearch

let mapleader = " "
noremap <Space> <Nop>

nnoremap <S-l> gt
vnoremap <S-l> gt
nnoremap <S-h> gT
vnoremap <S-h> gT

nnoremap <C-d> <C-d>zz
nnoremap <C-o> <C-o>zz
nnoremap <C-i> <C-i>zz
nnoremap <C-u> <C-u>zz

inoremap <C-y> :action EditorChooseLookupItem<CR>

" lsp"
nnoremap <leader>lr :action RenameElement<CR>
nnoremap <leader>= :action ReformatCode<CR>
nnoremap <leader>lh :action QuickJavaDoc<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gi :action GoToImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap [d :action GotoPreviousError<CR>
nnoremap ]d :action GotoNextError<CR>
  map <leader>f <Action>(GotoFile)
  map <leader>fg <Action>(FindInPath)

nnoremap <leader>ff :action FindAll<CR>
nnoremap <leader>nt :NERDTreeFocus<CR>


map Q gq


" Highlight coped n current fileext
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'



"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
